@{
    ViewData["Title"] = "Buscar Documentos";
    ViewData["Description"] = "Pesquise e encontre documentos de forma rápida e eficiente.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <!-- Fonte e Ícones -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="~/css/Buscar.css" rel="stylesheet" />
}

<div class="buscar-container">
    <div class="buscar-card">
        <h1>
            Buscar Documentos
            <span id="timer"></span>
        </h1>

        <div class="search-bar-wrapper">
            <div class="search-input-group">
                <input type="text" class="form-control" id="searchInput" placeholder="Digite o nome do documento" />
                <button type="button" class="search-button" onclick="searchDocuments()">
                    <span class="material-symbols-outlined">search</span>
                </button>
            </div>
        <button class="btn-filter" type="button" id="openFilterButton">
            <span class="material-symbols-outlined">filter_list</span>
        </button>
        </div>

        <div class="documents-list" id="documentsList">
        </div>

        <!-- Modal de Código para Abrir Documento -->
        <div class="modal fade" id="documentCodeModal" tabindex="-1" aria-labelledby="documentCodeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="documentCodeModalLabel">Digite o Código do Documento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="documentCodeInput" class="form-control" placeholder="Código do Documento" />
                <div id="codeError" class="text-danger mt-2" style="display:none;">Por favor, digite o código.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="confirmDocumentCode()">Confirmar</button>
            </div>
            </div>
        </div>
        </div>



    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/js/BuscarDocumentos/GerarDocumentos.js")"></script>
    <script src="@Url.Content("~/js/BuscarDocumentos/TemporizadorDocumentos.js")"></script>
    <script src="@Url.Content("~/js/BuscarDocumentos/ModalDocumentos.js")"></script>
}
