@model IEnumerable<VoxDocs.Models.TipoDocumentoModel>
@{
    var tipos = Model ?? new List<VoxDocs.Models.TipoDocumentoModel>();
}

<div class="doc-card d-none" id="step2">
    <div class="doc-header"> ESCOLHA O TIPO DE DOCUMENTO: </div>
    <ul class="list-group list-group-flush doc-list">
        @foreach (var tipo in tipos)
        {
            <li class="list-group-item p-0">
                <button onclick="selectTipo(this, @tipo.Id)">@tipo.Nome</button>
            </li>
        }
    </ul>
    <button class="access-btn" onclick="showManualModal()">
        <span class="material-symbols-outlined">menu_book</span> MANUAL DO USUÁRIO
    </button>
</div>